
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.main-display-index{
  width: 100%;
  padding-top: 0.5rem;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/065/333/non_2x/a-seamless-hexagons-pattern-vector.jpg");
}

.header{
  position: sticky;
  z-index: 5;
  inset: 0rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #6b7280;
  a{
    font-weight: 600;
    font-size: large;
    text-decoration: none;
    color: white;
  }
}

.search-bar{
  position: sticky;
  inset: 3.5rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  z-index: 5;
  *{
    min-width: 15%;
  }
  .search-box{
    display: flex;
    flex-direction: column;
    label{
      font-size: small;
      color: gray;
    }
    input, select{
      border-radius: 8px;
    }
    input:focus,select:focus{
      outline: none;
    }

  }
}

.film-list{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  min-height: 800px;
}
.film-resumed{
  margin: 1rem;
  padding: 1rem;
  border: solid 2px black;
  border-radius: 10px;
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgb(100,100,100);
  transition: all 0.2s;

  .profile{
    padding: 0.5rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.509);
    img{
      margin-left: auto;
      margin-right: auto;
      width: 150px;
      height: 150px;
      margin-bottom: 0.5rem;
    }
  }

  .details{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    .color-circle, .bw-circle{
      border-radius: 50%;
      height: 30px;
      width: 30px;
      background: linear-gradient(to bottom left, rgb(255, 0, 0), rgb(0, 98, 255));
    }
    .bw-circle{
      background: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(0, 0, 0));
    }
  }

}
.film-resumed:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.film-page{
  width: 100%;
  display: flex;
  .film-image{
    padding: 2rem;
    border-right: 2px solid rgba(182, 182, 182, 0.42);
    width: 50%;
    img{
      width: 100%;
      aspect-ratio: 1;
    }
  }
  .film-data{
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    .title{
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom:  2px solid rgba(182, 182, 182, 0.42);
      h2{
        font-size: xx-large;
        font-weight: 600;
      }
      h4{
        font-size: large;
        font-weight: 400;
      }
    }
    .details{
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .info{
        text-align: justify;
        /*border-left: 1px solid rgba(182, 182, 182, 0.42);*/
        padding-left: 4px;
        .features{
          display: flex;
          flex-direction: column;
          height: 200px;
          overflow-y: scroll;
          margin-top: 0.5rem;
          border: 1px solid gray;
          .ft{
            text-align: center;
            padding: 0.5rem;
            border-bottom: 2px solid rgba(182, 182, 182, 0.42);
          }
        }
        label{
          font-size:large;
          font-weight: lighter;
          border-bottom: 1px solid rgba(182, 182, 182, 0.528);
        }
        p{
          font-size: larger;
        }
      }
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.add-film{
  border-radius: 4px;
  margin: auto;
  padding: 1rem;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2{
    text-align: center;
  }
  div{
    display: flex;
    gap: 0.5rem;
    input, select{
      width: 30%;
    }
  }
}

.delete-project{
  border-radius: 4px;
  margin: auto;
  padding: 1rem;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2{
    text-align: center;
  }
  div{
    display: flex;
    gap: 0.5rem;
    input, select{
      width: 30%;
    }
  }
  button{
    border-color: green;
    background-color: rgba(0, 128, 0, 0.211);
  }
  button:disabled{
    border-color: red;
    background-color: rgba(255, 0, 0, 0.211);
    cursor:default;
  }
}

.rem-films{
  border-radius: 4px;
  margin: auto;
  padding: 1rem;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h2{
    text-align: center;
  }
  div{
    display: flex;
    gap: 0.5rem;
    input, select{
      width: 30%;
    }
  }
}

.projects-page{
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100vh;

  .projects-resume{
    position: sticky;
    inset: 0rem;
    padding: 0rem 1rem 0rem 1rem;
    h2{
      padding: 0.5rem;
      border-bottom: 2px solid black;
      margin-bottom: 0.5rem;
    }
    width: 25%;
    border-right: 2px solid black;
  }

  .projects-details{
    width: 75%;
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .project-display{
      width: 100% ;
      display: flex;
      flex-direction: column;
      .project-title{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid black;
      }
      .project-films{
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;

        img{
          width: 60px;
          aspect-ratio: 1;
        }
      }
    }
  }
}